<li id="post-<%=post._id%>">
    <!-- The anchor tag to delete the post -->
    <p>
        <% if(locals.user && locals.user.id == post.user.id){ %>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
            </small>
        <% } %>

    
        <h3><%= post.content%></h3>
        <small>
            <%= post.user.name%>
        </small>

        <!-- chnages :: display the likes of this post, if the user is logged in, then show the link to toggle like 
        or else just show the like count -->
        <br>
            <!-- study about data attribute -->
        <small>

            <% if(locals.user){ %>
                <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                    <%= post.likes.length %> Likes
                </a>
            <% }else{ %>
                <%= post.likes.length %> Likes
            <% } %>

        </small>
    </p>
    

    <!-- adding form for the comment -->
    <div id="post-comments">
        
        <!-- Showing comment before the form -->
        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id%>">
                <% for(comment of post.comments){ %>
                    <!-- using artial to distribute the file -->
                    <%- include('_comment') -%>
                <% } %>
            </ul>
        </div>

        <!-- form for only signed in users -->
        <% if(locals.user){ %>
            <form action="/comments/create" method="post">
                <input type="text" name="content" placeholder="Type here to add comment.....">
                <!-- pre initializing post id -->
                <input type="hidden" name="post" value="<%= post._id%>"> 
                <input type="submit" value="Add Comment">
            </form>
        <% } %>    
    </div>
    
    
</li>