<link type="text/css" rel="stylesheet" href="/css/home.css">
<h1>The <%= title %> Page</h1>

<section id="feed-posts">
    <!-- Form for post only to logged in user -->
    <div id="post-form"> 
        <% if(locals.user){ %>
            <h2>Post</h2>
            <form action="/posts/create" method="POST" id="new-post-form">
                <textarea name="content" id="" cols="30" rows="3" placeholder="Type here ...."></textarea>
                <input type="submit" value="Post">
            </form>

        <% } %>
    </div>

    <!-- Display the posts -->
    <div id="post-list-container">
        <h2>User Posts</h2>
        <ul>
            <% for(post of posts){ %>
                <li>
                    <p>
                        <h3><%= post.content%></h3>
                        <small>
                            <%= post.user.name%>
                        </small>
                    </p>
                    <!-- The anchor tag to delete the post -->
                    <% if(locals.user && locals.user.id == post.user.id){ %>
                        <small>
                            <a href="/posts/destroy/<%= post.id %>">X</a>
                        </small>
                    <% } %>

                    <!-- adding form for the comment -->
                    <div id="post-comments">
                        
                        <!-- Showing comment before the form -->
                        <div class="post-comments-list">
                            <ul id="post-comments-<%= post._id%>">
                                <% for(comment of post.comments){ %>
                                    <li>
                                        <p>
                                            <!-- check if user logged in and the destroyer written the comment -->
                                            <% if(locals.user && locals.user.id == comment.user.id){ %>
                                                <small>
                                                    <a href="/comments/destroy/<%= comment.id %>">X</a>
                                                </small>
                                            <% } %>
                                            
                                            <%= comment.content %>
                                            <br>
                                            <small>
                                                <%= comment.user.name %>
                                            </small>
                                        </p>
                                    </li>
                                <% } %>
                            </ul>
                        </div>

                        <!-- form for only signed in users -->
                        <% if(locals.user){ %>
                            <form action="/comments/create" method="post">
                                <input type="text" name="content" placeholder="Type here to add comment.....">
                                <!-- pre initializing post id -->
                                <input type="hidden" name="post" value="<%= post._id%>"> 
                                <input type="submit" value="Add Comment">
                            </form>
                        <% } %>    
                    </div>
                    
                    
                </li>
            <% } %>
        </ul>
    </div>
    
</section>