<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title%>
        </title>
        
        <link type="text/css" rel="stylesheet" href="/css/layout.css">

        <%- style %>
    </head>

    <body>
        <header>
            <div class="header-container">
                <h1>Codiel</h1>
                
                    <ul><!-- addding the links -->
                        <% if(locals.user){ %>
                            <li>
                                <a href="/users/profile/<%= u.id %>"> <%= u.name %> </a>
                            </li>

                            <li>
                                <a href="/users/sign-out"> Sign Out</a>
                            </li>

                        <% }else{ %>
                            <li>
                                <a href="/users/sign-in"> Sign In</a>
                            </li>
                            <li>
                                <a href="/users/sign-up"> Sign Up</a>
                            </li>
                        <% } %>    
                    </ul>
                
            </div>
        </header>

        <!-- Adding the flash message here above main temorarily -->
        <% if(flash.success && flash.success.length > 0) { %>
            <h5>
                <%= flash.success%>
            </h5>
        <% } %>

        <main>
            <%- body %>
        </main>
        

        <footer>
            <div class="footer-container">

                <h2>Created by Saurav</h2>
                <ul><!-- addding the links -->
                    <li>
                        <a href="/"> Home </a>
                    </li>

                    <li>
                        <a href="/users/profile"> Profile</a>
                    </li>  
                </ul>

            </div>
        </footer>
    </body>
</html>