<link type="text/css" rel="stylesheet" href="/css/user_profile.css">

<h1>Profile | Authentication</h1>

<% if(user.id == profile_user.id){ %>
    <!-- if user match show update form -->
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>

        <!-- input to upload file -->
        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="Update">
    </form>

<% }else{ %>
    <!-- if doesnt match show user info in the page -->

    <h4><%= profile_user.name %></h4>
    <h4><%= profile_user.email %></h4>

<% } %>

